.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100%;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.flower-image {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.search-container {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.search-input {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 8px 16px;
    width: 300px;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.categories select {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons-container a {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 50px;
    padding: 0 20px;
}

@media only screen and (max-width: 768px) {
    .categories {
        margin-top: -20px;
    }

    .search-input {
        width: 200px;
    }

    .buttons-container a {
        margin-right: 5px;
    }

    .container {
        padding: 0;
    }
}

.categories a {
    margin-right: 20px;
}

.categories a {
    padding: 10px 20px;
    margin-right: 20px;
}

.categories a {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
  }
  